form {
	display: grid;
	align-content: center;
	justify-content: center;
}
.center {
	margin-top: 100px;
	/*margin-left: 500px;*/
	background: white;
	padding: 50px 25px;
}
#forgot {
	float: right;
	margin-top: 5px;
}
#aBtn1 {
	color: #202020;
}
#aBtn2 {
	color: #fff;
}
#aBtn2:hover {
	color: #202020;
}